@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
    --primary: #E88B00;
    --secondary: #EFF1F3;
    --muted: #A7A7A7;
    --muted-dark: #454545;
    --bg: #16181A;
    --black: #000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: var(--bg);
}

h1 { 
    color: var(--primary); 
    letter-spacing: -.1rem; 
    margin: 0;
    font-weith: 800; 
}

.container {
    max-width: 1500px;
    margin: 0 auto 10rem auto;
}

.nav__wrapper {
    position:fixed;
    width: 100%;
    background-color: rgba(22, 24, 26, 0.9);
    max-width: 1500px;
    backdrop-filter: blur(24px);
    padding: 20px 0;
}

.nav {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

button {
    all: unset;
    cursor: pointer;
}

input {
    all: unset;
}

button:focus {
    outline: orange 5px auto;
}

.nav__search {
    align-items: center;
    display:flex;
}

.nav__search_btn {
    border: 1px solid var(--muted-dark);
    border-radius: 0.3rem;
    padding: 0.4rem 0.8rem;
    color: var(--secondary);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    background-color:transparent;
}

.nav__search_btn_icon {
    margin-left: 0.5rem;
    height: 1.2rem;
    width: 1.2rem;
    color: var(--secondary);
}

.nav__search_btn_label {
    margin: 0 20px 0 0;
    color: var(--muted);
    font-family: 'Courier New', monospace;
    font-size: 0.9rem;
    display: block;
}

.nav__search_field {
    margin-right: 1rem;
    padding: 0.2rem 0.6rem;
    max-width: 200px;
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
    background: transparent;
    border-bottom: 1px solid var(--muted-dark);
    color: var(--muted);
}

.feed {
    justify-content: center;
    padding: 100px 20px 20px;
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
}

.post {
    width: 100%;
    max-width: 350px;
    color: var(--muted);
    font-family: 'Inter', sans-serif;
    font-size: 0.8rem;
}

.post__btn {
    width: inherit;
}

.post__img {
    cursor: pointer;
    width: inherit;
    height: 277px;
    object-fit: cover;
    object-position: 50% 80%;
    margin: 0;
    padding: 0;
    border-radius: 0.5rem 0.5rem 0 0;
}

.post__details {
    margin-top: -5px;
    padding: 0 0.8rem;
    background-color: var(--black);
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__title {
    text-overflow: ellipsis;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 1rem;
}

.post__owner_avatar {
    height: 1.2rem;
    width: 1.2rem;
    color: var(--muted);
}

.post__owner_link {
    color: var(--muted);
    text-decoration: none;
}

// breakpoints
@media only screen and (max-width: 639px) {

}
@media only screen and (max-width: 640px) {
    .nav__search_label{
        display: none;
    }

    .nav {
        flex-direction: column;
    }
    .nav__search {
        margin: 1rem 0;
        width: 100%;
        justify-content: space-between;
    }
}
@media only screen and (max-width: 1024px) { }
@media only screen and (max-width: 1280px) { }

@media only screen and (max-width: 1536px) { }

// utility

.m-0 {
    margin: 0;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mr-auto {
    margin-right: auto;
}

.flex {
    display:flex;
}

.color-secondary {
    color: var(--secondary);
}

.spinner {
    border: 3px solid var(--muted-dark); 
    border-top: 3px solid var(--primary);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-right: 0.6rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}