@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
    --primary: #E88B00;
    --secondary: #EFF1F3;
    --muted: #A7A7A7;
    --bg: #16181A;
    --black: #000000;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: var(--bg);
}

h1 { 
    color: var(--primary); 
    letter-spacing: -.1rem; 
    margin: 0;
    font-weith: 800; 
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.nav {
    display: flex;
    padding: 20px 20px 0 20px;
    align-items: center;
}

.nav__title {
    margin-right: auto;
}

button {
    all: unset;
    cursor: pointer;
}

button:focus {
    outline: orange 5px auto;
}

.nav__search_btn {
    display: flex;
    background-color:transparent;
}

.nav__search_btn_icon {
    height: 1.2rem;
    width: 1.2rem;
    color: var(--secondary);
}

.nav__search_btn_label {
    margin: 0 20px 0 0;
    color: var(--muted);
    font-family: 'Courier New', monospace;
    font-size: 0.9rem;
    display: block;
}

.feed {
    justify-content: center;
    padding: 20px;
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
}

.post {
    width: 100%;
    max-width: 350px;
    color: var(--muted);
    font-family: 'Courier New', monospace;
    font-size: 0.9rem;
}

.post__img {
    cursor: pointer;
    width: inherit;
    height: 277px;
    object-fit: cover;
    object-position: 50% 80%;
    margin: 0;
    padding: 0;
    border-radius: 0.5rem 0.5rem 0 0;
}

.post__details {
    margin-top: -5px;
    padding: 0 0.8rem;
    background-color: var(--black);
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__title {
    text-overflow: ellipsis;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 1rem;
}

.post__owner_avatar {
    height: 1.2rem;
    width: 1.2rem;
    color: var(--muted);
}

.post__owner_link {
    color: var(--muted);
    text-decoration: none;
}

// breakpoints
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 768px) {
    .nav__search_label{
        display: none;
    }
}
@media only screen and (max-width: 1024px) { }
@media only screen and (max-width: 1280px) { }

@media only screen and (max-width: 1536px) { }

// utility

.text-uppercase {
    text-transform: uppercase;
}

.m-0 {
    margin: 0;
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

